bounty-5-n8n-weekly-summary/weekly-dev-summary.json
{
  "name": "Weekly Dev Summary (Claude + GitHub)",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger (Weekly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Configure Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [350, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repoOwner",
              "value": "=your-org-or-username"
            },
            {
              "name": "repoName",
              "value": "=your-repo-name"
            },
            {
              "name": "language",
              "value": "EN"
            },
            {
              "name": "deliveryChannel",
              "value": "slack"
            },
            {
              "name": "slackWebhookUrl",
              "value": "=your-slack-webhook-url"
            },
            {
              "name": "discordWebhookUrl",
              "value": "=your-discord-webhook-url"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Calculate Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "language": "javaScript",
        "code": "// Calculate the previous week date range (Monday-Sunday)\nconst now = new Date();\nconst dayOfWeek = now.getDay(); // 0=Sun, 1=Mon...\n\n// Find this Monday\nconst thisMonday = new Date(now);\nconst diffToMonday = dayOfWeek === 0 ? -6 : 1 - dayOfWeek;\nthisMonday.setDate(now.getDate() + diffToMonday);\nthisMonday.setHours(0, 0, 0, 0);\n\n// Previous Monday\nconst prevMonday = new Date(thisMonday);\nprevMonday.setDate(thisMonday.getDate() - 7);\n\n// Previous Sunday\nconst prevSunday = new Date(prevMonday);\nprevSunday.setDate(prevMonday.getDate() + 6);\nprevSunday.setHours(23, 59, 59, 999);\n\nreturn {\n  since: prevMonday.toISOString(),\n  until: prevSunday.toISOString(),\n  weekLabel: prevMonday.toISOString().split('T')[0] + ' to ' + prevSunday.toISOString().split('T')[0]\n};"
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "GitHub: Get Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 100],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/commits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since",
              "value": "={{ $json.since }}"
            },
            {
              "name": "until",
              "value": "={{ $json.until }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "GitHub: Get Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "since",
              "value": "={{ $json.since }}"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "direction",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "GitHub: Get Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 500],
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "direction",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Filter Merged PRs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500],
      "parameters": {
        "language": "javaScript",
        "code": "// Filter only merged PRs (closed + merged_at !== null)\nconst items = $input.all();\nconst mergedPRs = items.filter(item => {\n  const pr = item.json;\n  return pr.merged_at !== null && pr.state === 'closed';\n});\n\n// Return just the JSON array\nreturn mergedPRs.map(item => item.json);"
      }
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Build Summary & Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300],
      "parameters": {
        "language": "javaScript",
        "code": "// Combine all data sources and build the Claude API request body\n\n// Get config\nconst config = $(\"Configure Variables\").first().json;\n\n// Get commits\nconst commits = $(\"GitHub: Get Commits\").all().map(i => ({\n  sha: (i.json.sha || '').substring(0, 7),\n  message: (i.json.commit?.message || '').split('\\n')[0],\n  author: i.json.commit?.author?.name || 'unknown',\n  date: i.json.commit?.author?.date || ''\n}));\n\n// Get closed issues (filter out PRs)\nconst issues = $(\"GitHub: Get Closed Issues\").all()\n  .filter(i => !i.json.pull_request)\n  .map(i => ({\n    number: i.json.number,\n    title: i.json.title,\n    author: i.json.user?.login || 'unknown',\n    labels: (i.json.labels || []).map(l => l.name),\n    closedAt: i.json.closed_at\n  }));\n\n// Get filtered merged PRs\nconst prs = $(\"Filter Merged PRs\").all().map(i => ({\n  number: i.json.number,\n  title: i.json.title,\n  author: i.json.user?.login || 'unknown',\n  additions: i.json.additions || 0,\n  deletions: i.json.deletions || 0,\n  mergedAt: i.json.merged_at\n}));\n\n// Stats\nconst stats = {\n  totalCommits: commits.length,\n  totalIssues: issues.length,\n  totalPRs: prs.length,\n  totalAdditions: prs.reduce((sum, p) => sum + p.additions, 0),\n  totalDeletions: prs.reduce((sum, p) => sum + p.deletions, 0)\n};\n\n// Build the prompt for Claude\nconst lang = config.language === 'FR' ? 'French' : 'English';\nconst dateRange = $(\"Calculate Date Range\").first().json.weekLabel;\n\nlet prompt = 'Generate a weekly development summary for the repository **' + config.repoOwner + '/' + config.repoName + '** covering the period **' + dateRange + '**.\\n\\n';\nprompt += 'Write the response in **' + lang + '**. Use a professional but engaging tone.\\n\\n';\nprompt += '## Weekly Statistics\\n';\nprompt += '- Commits: ' + stats.totalCommits + '\\n';\nprompt += '- Closed Issues: ' + stats.totalIssues + '\\n';\nprompt += '- Merged PRs: ' + stats.totalPRs + '\\n';\nprompt += '- Lines Added: ' + stats.totalAdditions + '\\n';\nprompt += '- Lines Removed: ' + stats.totalDeletions + '\\n\\n';\n\nif (commits.length > 0) {\n  prompt += '## Notable Commits\\n';\n  commits.slice(0, 30).forEach(c => {\n    prompt += '- `' + c.sha + '` ' + c.message + ' (' + c.author + ')\\n';\n  });\n  prompt += '\\n';\n}\n\nif (issues.length > 0) {\n  prompt += '## Closed Issues\\n';\n  issues.slice(0, 20).forEach(issue => {\n    prompt += '- #' + issue.number + ': ' + issue.title + ' (by ' + issue.author + ')\\n';\n  });\n  prompt += '\\n';\n}\n\nif (prs.length > 0) {\n  prompt += '## Merged Pull Requests\\n';\n  prs.slice(0, 20).forEach(pr => {\n    prompt += '- #' + pr.number + ': ' + pr.title + ' (+' + pr.additions + '/-' + pr.deletions + ' lines, by ' + pr.author + ')\\n';\n  });\n  prompt += '\\n';\n}\n\nprompt += '## Format Requirements\\n';\nprompt += '1. Start with an executive summary (2-3 sentences)\\n';\nprompt += '2. Include a \"Key Highlights\" section with top 3 achievements\\n';\nprompt += '3. Add a \"Stats at a Glance\" table\\n';\nprompt += '4. Categorize changes into: Features, Bug Fixes, Refactoring, Documentation\\n';\nprompt += '5. End with a forward-looking note for next week\\n';\nprompt += '6. Use Markdown formatting throughout\\n';\n\n// Return both the Claude request and summary data\nreturn {\n  claudeRequest: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 2048,\n    messages: [\n      {\n        role: 'user',\n        content: prompt\n      }\n    ]\n  },\n  summaryData: {\n    repoOwner: config.repoOwner,\n    repoName: config.repoName,\n    weekLabel: dateRange,\n    language: config.language,\n    stats: stats\n  }\n};"
      }
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Claude API: Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "rawBody": "={{ JSON.stringify($json.claudeRequest) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-012345678901",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300],
      "parameters": {
        "language": "javaScript",
        "code": "// Extract Claude's response and format for delivery\nconst claudeResponse = $input.first().json;\nconst contentBlocks = claudeResponse.content || [];\n\n// Claude returns content as array of content blocks\nconst markdown = contentBlocks\n  .filter(b => b.type === 'text')\n  .map(b => b.text)\n  .join('\\n');\n\nconst summaryData = $(\"Build Summary & Claude Request\").first().json.summaryData;\n\nreturn {\n  markdown: markdown,\n  repo: summaryData.repoOwner + '/' + summaryData.repoName,\n  weekLabel: summaryData.weekLabel\n};"
      }
    },
    {
      "id": "b4c5d6e7-f8a9-0123-bcde-234567890123",
      "name": "Route Delivery",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [2800, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $(\"Configure Variables\").first().json.deliveryChannel }}",
        "routing": {
          "operations": [
            {
              "output": "slack",
              "expression": "=slack"
            },
            {
              "output": "discord",
              "expression": "=discord"
            },
            {
              "output": "email",
              "expression": "=email"
            }
          ]
        }
      }
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-012345678902",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3150, 100],
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Configure Variables\").first().json.slackWebhookUrl }}",
        "sendBody": true,
        "contentType": "json",
        "rawBody": "=JSON.stringify({\n  text: '*📊 Weekly Dev Summary* — ' + $json.repo + ' (' + $json.weekLabel + ')',\n  blocks: [\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: '*📊 Weekly Dev Summary* — ' + $json.repo + ' (' + $json.weekLabel + ')'\n      }\n    },\n    {\n      type: 'divider'\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: $json.markdown\n      }\n    },\n    {\n      type: 'context',\n      elements: [\n        {\n          type: 'mrkdwn',\n          text: '🤖 Generated by n8n + Claude API'\n        }\n      ]\n    }\n  ]\n})",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-012345678903",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3150, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Configure Variables\").first().json.discordWebhookUrl }}",
        "sendBody": true,
        "contentType": "json",
        "rawBody": "=JSON.stringify({\n  username: 'Weekly Dev Bot',\n  embeds: [\n    {\n      title: '📊 Weekly Dev Summary — ' + $json.repo + ' (' + $json.weekLabel + ')',\n      description: $json.markdown,\n      color: 3447003,\n      footer: {\n        text: 'Generated by n8n + Claude API'\n      },\n      timestamp: new Date().toISOString()\n    }\n  ]\n})",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "f2a3b4c5-d6e7-8901-fabc-012345678904",
      "name": "Send via Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [3150, 500],
      "parameters": {
        "fromEmail": "weekly-digest@yourdomain.com",
        "toEmail": "team@yourdomain.com",
        "subject": "=📊 Weekly Dev Summary — {{ $json.repo }} ({{ $json.weekLabel }})",
        "emailType": "html",
        "message": "={{ $json.markdown.replace(/\\n/g, '<br>') }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger (Weekly)": {
      "main": [
        [
          {
            "node": "Configure Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Variables": {
      "main": [
        [
          {
            "node": "Calculate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Date Range": {
      "main": [
        [
          {
            "node": "GitHub: Get Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub: Get Closed Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub: Get Merged PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Get Commits": {
      "main": [
        [
          {
            "node": "Build Summary & Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Get Closed Issues": {
      "main": [
        [
          {
            "node": "Build Summary & Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Get Merged PRs": {
      "main": [
        [
          {
            "node": "Filter Merged PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Merged PRs": {
      "main": [
        [
          {
            "node": "Build Summary & Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary & Claude Request": {
      "main": [
        [
          {
            "node": "Claude API: Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API: Generate Summary": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Route Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Delivery": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send via Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Shanghai"
  },
  "staticData": null
}
